  <div id="contact">
  <p>
    <b>Kontaktujte mě a domluvíme se na první lekci:</b><br>
  <p>
      <a href="mailto:monika.sistkova@gmail.com">monika.sistkova@gmail.com</a>
      <a href="tel:+420724559267">+420 724 559 267</a><br/>
    <p>
     <p>Mgr. Monika Šístková<br/>
       Zlochova 2193/1<br/>
        Modřany <br/>  
         Praha 4 <br/> 
    </p>
  </div>
</body>
</html>
