<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>Monika Šístková - lektorka - ##DESCRIPTION##</title>
  <meta name="description" content="Monika Šístková - lektorka - ##DESCRIPTION##">
  <meta name="author" content="Vaclav Sistek">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="only screen" href="/styles/lektorkavpraze-common1.css">
  <link rel="stylesheet" media="only screen and (min-width: 1200px)" href="/styles/lektorkavpraze-wide1.css">
  <link rel="stylesheet" media="only screen and (max-width: 1199px)" href="/styles/lektorkavpraze-narrow1.css" />
  <link href="/images/lektorkavpraze-favicon.png" rel="icon" type="image/png" />
</head>
<body>
  <div id="header">
    <a href="/"><img id="logo" src="/images/lektorkavpraze.png" alt="=MŠ=" /></a>
    <div id="menu">
      <ul>
