<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>Monika Šístková - lektorka - ##DESCRIPTION##</title>
  <meta name="description" content="Monika Šístková - lektorka - ##DESCRIPTION##">
  <meta name="author" content="Vaclav Sistek">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="only screen" href="/styles/common.css?stamp=##STAMP##">
  <link rel="stylesheet" media="only screen and (min-width: 1200px)" href="/styles/wide.css?stamp=##STAMP##">
  <link rel="stylesheet" media="only screen and (max-width: 1199px)" href="/styles/narrow.css?stamp=##STAMP##" />
  <link href="/images/lektorkavpraze-favicon.png" rel="icon" type="image/png" />
  <script>
    function loadstyle(filename) {
      var fileref=document.createElement("link")
      fileref.setAttribute("rel", "stylesheet")
      fileref.setAttribute("type", "text/css")
      fileref.setAttribute("href", filename)
      if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref)
    }

    function removestyle(filename) {
      var allsuspects=document.getElementsByTagName("link")
      for (var i=allsuspects.length; i>=0; i--){
      if (allsuspects[i] && allsuspects[i].getAttribute("href")!=null && allsuspects[i].getAttribute("href").indexOf(filename)!=-1)
        allsuspects[i].parentNode.removeChild(allsuspects[i])
      }
    }

    function toggleTheme() {
      if (document.cookie.includes("dark")) {
        removestyle("/styles/dark.css?stamp=##STAMP##")
        document.cookie = "theme=light; path=/;";
      } else {
        loadstyle("/styles/dark.css?stamp=##STAMP##")
        document.cookie = "theme=dark; path=/;";
      }
    }
    if (document.cookie.includes("dark")) {
      loadstyle("/styles/dark.css?stamp=##STAMP##")
    }
  </script>
</head>
<body>
  <div id="header">
    <a href="/"><img id="logo" src="/images/lektorkavpraze.svg" alt="=MŠ=" /></a>
    <div id="menu">
      <ul>
