<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>Monika Šístková - lektorka - ##DESCRIPTION##</title>
  <meta name="description" content="Monika Šístková - lektorka - ##DESCRIPTION##">
  <meta name="author" content="Vaclav Sistek">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="only screen" href="/styles/common.css?stamp=##STAMP##">
  <link rel="stylesheet" media="only screen and (min-width: 1200px)" href="/styles/wide.css?stamp=##STAMP##">
  <link rel="stylesheet" media="only screen and (max-width: 1199px)" href="/styles/narrow.css?stamp=##STAMP##" />
  <link href="/images/lektorkavpraze-favicon.png" rel="icon" type="image/png" />
  <script>
    function toggleTheme() {
      // document.cookie = "light";
      if (document.cookie.includes("dark")) {
        var css = document.styleSheets[4];
        if (css) {
          css.disabled = true;
        }
        document.cookie = "theme=light; path=/;";
      } else {
        var css = document.styleSheets[4];
        if (css) {
          css.disabled = false;
        } else {
          var headID = document.getElementsByTagName("head")[0];
          var cssNode = document.createElement('link');
          cssNode.type = 'text/css';
          cssNode.rel = 'stylesheet';
          cssNode.href = '/styles/dark.css?stamp=##STAMP##';
          cssNode.media = 'screen';
          headID.appendChild(cssNode);
        }
        document.cookie = "theme=dark; path=/;";
      }
    }
    if (document.cookie.includes("dark")) {
      document.cookie = "theme=light; path=/;";
      toggleTheme()
    }
  </script>
</head>
<body>
  <div id="header">
    <a href="/"><img id="logo" src="/images/lektorkavpraze.svg" alt="=MŠ=" /></a>
    <div id="menu">
      <ul>
