body {
	font-size: 18px;
	font-family: 'Lora', serif;
	margin: 0 auto;
	color: #000000;
	background-color: #ffffff;
	background-image: url("/images/sakura-transparent-moon.svg");
	background-position: right top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 50%;
}

b {
	font-weight: 700;
}

h1 {
	font-size: 40px;
}

em {
	color: #ff0000;
	font-style: normal;
}

#logo {
	border: 0;
	max-width: 512px;
	height:auto;
}

#menu {
	text-align: right;
	font-size: 20px;
	background-color: rgba(255,255,255,0.85);
	border-radius: 25px;
}

#menu li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

a:hover {
	color: #ff0000;
}

a.active {
	color: #ff0000;
}

#switch {
	opacity: 0.5;
	border: 0;
	width: 80px;
	height: auto;
	cursor: ew-resize;
}

#content {
	text-align: left;
	background-color: rgba(255,255,255,0.85);
}

#photo {
	float: right;
	height: 22%;
	width: 22%;
	min-height: 128px;
	min-width: 128px;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

#illustration {
        float: left;
        width: 33%;
        padding-top: 0.5em;
        padding-right: 1em;
        padding-bottom: 1em;
}

#quote {
	display: table-cell;
	font-size: 13px;
	font-style: italic;
	text-align: left;
	cursor: pointer;
	background-color: rgba(255,255,255,0.85);
	border-radius: 25px;
	background-image: none;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 50px;
}

#quote:hover {
	background-image: url("/images/refresh.svg");
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 50px;
}

#author {
	text-align: right;
}

#quotetext {
	display: inline;
}

#quoteauthor {
	display: block;
	font-style: normal;
	text-align: right;
	height: 1.5em;
	vertical-align: baseline;
}

#refresh:hover {
	opacity: 0.5;
}

#contact {
	width: 200px;
	height: 200px;
	font-size: 16px;
	border-radius: 50%;
	color: #ffffff;
	background: #000000;
	text-align: center;
	padding: 2%;
	box-shadow: 2px 4px 0 0 #bcbcbc;
}

.appsmenu {
        font-size: 22px;
	list-style-type: none;
}

#task {
        font-size: 24px;
}

#solution {
        font-size: 24px;
        display: none;
}
