body {
        color: #ffffff;
        background-color: #000000;
}

em {
        color: #ff0000;
}

a {
        color: #ffffff;
}

a:hover {
        color: #ff0000;
}

a.active {
        color: #ff0000;
}

#contact {
        color: #000000;
        background: #ffffff;
        box-shadow: #434343;
}

#menu {
        background-color: rgba(0,0,0,0.75);
}

#content {
        background-color: rgba(0,0,0,0.75);
}

#quote {
        background-color: rgba(0,0,0,0.75);
}

#sec {
        stroke: #fff;
        fill: #fff;
}

#seccenter {
        fill: #fff;
}

.number {
        fill: #f00;
}

.second {
        fill: #fff;
}

#ms-shape {
        fill: #fff;
}
