html {
    height: 100%;
}

#header {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: right;
}

#logo {
	width: 70%;
	min-width: 128px;
}

#menu {
	padding-right: 30px;
	padding-top: 20px;
	background-color: rgba(255,255,255,0.85);
	border-radius: 25px;
}

#content {
	width: 40%;
	position: absolute;
	left: 30%;
	top: 30%;
	padding: 3%;
	padding-top: 0;
	background-color: rgba(255,255,255,0.85);
	border-radius: 25px;
}

#footer {
	display: table-cell;
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

#quote {
	position: absolute;
	top: 5%;
	right: 5%;
	padding: 5%;
	padding-bottom: 7%;
	width: 65%;
	background-color: rgba(255,255,255,0.85);
	border-radius: 25px;
}

#contact {
	margin-right: 2%;
	margin-bottom: 2%;
	position: fixed;
	bottom: 0;
	right: 0;
}
